# *args

In [4]:
def my_fun(a,b):
    return a+b
my_fun(10,20)

# problem with this is we canot send more than defiend number of parameters

30

In [7]:
def myfun (*args):
    return sum(args)
myfun(10,20,30,40)

100

# **kwargs

In [10]:
def my_new_fun(**kwargs):
    if 'friut' in kwargs:
        print(f"my fav. friut is {kwargs['fruit']}")
              
    else:
        print("i dont like any other fruite")

my_new_fun(fruit='Apple',veggie ='potato')

i dont like any other fruite

# write a program using key word args. which can take name of the student, age and marks and print them all in a formatted report card in O/P

In [11]:
def student(**data):
        print(f"lakshmi's name is {data['name']}")
        print(f"lakshmi's age is {data['age']}")
        print(f"lakshmi's marks is {data['marks']}")
              
student(name='lakshmi',age='30',marks='30')

lakshmi's name is lakshmi
lakshmi's age is 30
lakshmi's marks is 30

In [14]:
def student(**data):
    if 'name' in data:
        print(f"lakshmi's name is {data['name']} and age is {data['age']}")
        print(f"lakshmi's marks is {data['marks']}")
              
student(name='lakshmi',age='30',marks='30')

lakshmi's name is lakshmi and age is 30
lakshmi's marks is 30

# Map Function

In [31]:
# the map fuction allowa us to map a function to a iterate object.

# quickly

In [16]:
def square(num):
    return num**2

In [18]:
square(2)

4

In [21]:
my_some_number = [1,2,3,4,5,6,7]

In [22]:
map(square,my_some_number)

In [23]:
list(map(square,my_some_number))

[1, 4, 9, 16, 25, 36, 49]

# some function to get the length of the string objects which are stored in the list and if the string length is even keep the string as it is and if it is odd modify it to the only starting letter of the string

In [24]:
my_some_str = ['lakshmi','sai','vijay']

In [25]:
def some_fun(mystring):
    if len(mystring) % 2== 0:
        return mystring
    else:
        return mystring[0]

In [29]:
mystring_some = ['narayana','sai','vijay']

In [30]:
list(map(some_fun,mystring_some))

['narayana', 's', 'v']

# filter

In [33]:
# the filter functiobn returns as an iterators yelding thopse items of the iterator
# which gives true when passed through a function

# it is simply associated with the function return true or false for an item form the list.

In [37]:
def check_odd(num):
    return num % 2 !=0

In [38]:
check_odd(3)

True

In [39]:
nums = [1,2,3,4,5,6,7,8]

In [40]:
filter(check_odd,nums)

In [42]:
list(filter(check_odd,nums))

[1, 3, 5, 7]

# write a program which can print the value of all the even values passed form the list using filter

In [52]:
def check_even(num):
    if num % 2 == 0:
        return num**2

In [58]:
check_even(8)

64

In [59]:
nums = [1,2,3,4,5,6,7,8,9]

In [55]:
filter(check_even,nums)

In [62]:
list(filter(check_even,nums))

[2, 4, 6, 8]

# Lambda Expression

In [ ]:
# lambda expression are used to minimise the code base and to 
# write down small functins in on-line
# this is mostly used for the functions which are not define in the model.
# stage and in mostly used with pandas and data analytics too.

In [63]:
def cube (num):
    result = num**3
    return result

In [64]:
cube(3)

27

In [1]:
def cube (num):
    return  num**3

In [2]:
cube(3)

27

In [3]:
def cube (num): return  num**3

In [4]:
cube(4)

64

In [5]:
cube_new = lambda num:  num**3

In [6]:
cube_new(3)

27

In [7]:
nums = [1,2,3,4,5,6,7,8,9]

In [8]:
list(map(cube_new,nums))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [11]:
list(filter(lambda n : n%2 == 0,nums))

[2, 4, 6, 8]

# LEGB Rules

In [12]:
#l - local
#B - encl;osing function local's
#G - Global
#B- built -in function name in python (Don't overwrite these)

In [13]:
x = 10

f = lambda x:x**2

In [14]:
f(x)

100

In [16]:
name = 'this is my global name'

def greet():
    name = 'lakshmi'
    
    def hello():
        print('Hello '+name)
    hello()
greet()

Hello lakshmi

In [17]:
print(name)

this is my global name

In [18]:
sum

In [19]:
len

In [20]:
print